name: Nix Flake Check

on:
  pull_request:
    branches:
      - 'master'
  workflow_dispatch:
  push:
    branches:
      - 'github-action'
      - 'master'

jobs:
  flake-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Nix
        uses: cachix/install-nix-action@v30

      - name: Run Nix Flake Check
        run: nix flake check

